ion-content.background{
     --ion-background-color:linear-gradient(to top left,#000099 0%, #ff0066 100%);
     
}


ion-card.size{
     width:auto;
     height: 85px;
}

ion-progress-bar.style{
     min-height: 15%;
     color: blue;
     
}